<h3>Enter the weather</h3>

<%= form_tag '/manual', method: "get" do %>
  <div class="row space-above">
    <div class="col-md-3">
      <%= label_tag :weather %>
      <%= select_tag :weather, options_for_select((-5..105).step(5).to_a, params[:weather]) %>
    </div>

    <div class="col-md-3">
      <%= label_tag :wind %>
      <%= select_tag :wind, options_for_select(["Calm", "Light", "Breezy"], params[:wind]) %>
    </div>

    <div class="col-md-3">
      <%= label_tag :condition %>
      <%= select_tag :condition, options_for_select(["Sunny", "Cloudy", "Rainy"], params[:condition]) %>
    </div>
  </div>

<div>
</div>
  <%= submit_tag "What Should I Wear?", class: 'btn, btn-info' %>
<% end %>

<% @articles_by_section.each do |section, articles| %>
  <h3><%= section %></h3>
  <dl>
    <% articles.each do |article| %>
      <dt><%= article.item %>.</dt> <dd><%= article.description %></dd>
    <% end %>
  </dl>
<% end %>

