<h1>Apparel #<%= @apparel.id %></h1>

<dl>
  <dt>Section</dt>
  <dd><%= @apparel.section %></dd>

  <dt>Item</dt>
  <dd><%= @apparel.item %></dd>

  <dt>Description</dt>
  <dd><%= @apparel.description %></dd>

  <dt>Min1</dt>
  <dd><%= @apparel.min1 %></dd>

  <dt>Max1</dt>
  <dd><%= @apparel.max1 %></dd>

  <dt>Min2</dt>
  <dd><%= @apparel.min2 %></dd>

  <dt>Max2</dt>
  <dd><%= @apparel.max2 %></dd>

  <dt>Min3</dt>
  <dd><%= @apparel.min3 %></dd>

  <dt>Max3</dt>
  <dd><%= @apparel.max3 %></dd>

  <dt>Min4</dt>
  <dd><%= @apparel.min4 %></dd>

  <dt>Max4</dt>
  <dd><%= @apparel.max4 %></dd>

  <dt>Min5</dt>
  <dd><%= @apparel.min5 %></dd>

  <dt>Max5</dt>
  <dd><%= @apparel.max5 %></dd>

  <dt>Min6</dt>
  <dd><%= @apparel.min6 %></dd>

  <dt>Max6</dt>
  <dd><%= @apparel.max6 %></dd>

  <dt>Min7</dt>
  <dd><%= @apparel.min7 %></dd>

  <dt>Max7</dt>
  <dd><%= @apparel.max7 %></dd>

  <dt>Min8</dt>
  <dd><%= @apparel.min8 %></dd>

  <dt>Max8</dt>
  <dd><%= @apparel.max8 %></dd>

  <dt>Min9</dt>
  <dd><%= @apparel.min9 %></dd>

  <dt>Max9</dt>
  <dd><%= @apparel.max9 %></dd>

</dl>
